.project {
  display: flex;
  justify-content: center;
}

.project .wrapper {
  min-width: 400px;
  max-width: 30%;
  margin-bottom: 150px;
}
.project .header {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.project .horizontalBar {
  background-color: #447cbe;
  width: 12px;
  margin-right: 30px;
}
.project .description {
  margin-bottom: 20px;
}

.project .title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project .block {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;
}

.project .block-title {
}
.project .block-description {
  margin-bottom: 10px;
}

.project .contract {
  display: flex;
  align-items: center;
}
.project .status{
  margin-top: 10px;
  font-size: 12px;
  color: #a3a3a3;
}

.project .block-input {
  width: 70%;
  height: 30px;
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}

.project .search-button {
  width: 20%;
  margin-left: 10px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #3191ff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.project .centred-block {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;

  flex-direction: column;
  align-items: center;
}

.project .app-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #ececec;
  overflow: hidden;
  
}

.app-logo img {
  
  width: 90px;
  height: 90px;

}
.project .line {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.project .app-name {
  margin-right: 10px;
  font-size: 24px;
  font-weight: 700;
}

.project .app-symbol {
  font-size: 24px;
  font-weight: 700;
}
.project .app-contract {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.project .app-contract p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project .add-button {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: #3191ff;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.project .add-button-off {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: #a3a3a3;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.project .chips {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project .chip {
  display: flex;
  background-color: #ececec;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.project .chips .active {
  background-color: #48a0ff;
  color: #fff;
}

.project .chip img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
