.repositories {
	display: flex;
	justify-content: center;
}


.repositories .description {
	font-size: 18px;
	text-align: center;
	width: 48%;
}
.repositories .wrapper {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.repositories .header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.repositories .search-bar {
	width: 70%;
	max-width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ececec;
	border: none;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;

	align-items: center;
}

.repositories .block-input {
	width: 100%;
	background-color: #ececec;
	height: 30px;
	border: none;
	outline: none;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.repositories .repo-task{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #ececec;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.repositories .contest-button{
	text-decoration: none;
	color: #000;
}

.repositories .block-description{
	background-color: #ebebeb;
	width: 45%;
	border-radius: 10px;
	padding: 30px;
	white-space: pre-line;
}

.repositories .tasks{
	width: 45%;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 120px;
	padding: 30px;
	padding-top: 40px;
}

.repositories .tasks-title{
	margin-bottom: 20px;
}

.repositories .read-more-link{
	margin-top: 20px;
	color: #5294ff;
	text-decoration: underline;
	letter-spacing: 1px;
	cursor: pointer;
  }

  .repositories .read-more-text{
	margin-top: 20px;
  }

  .repositories .readmore{
	

  }

  .repositories .readless{
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
  }


  .repositories .title {

	color: #ffffff;
	font-size: 3vw;
	white-space: nowrap;
	font-weight: 700;
	
	line-height: 3vw;
	text-align: center;

}
@media only screen and (max-width: 800px) {
	.repositories .title {
		font-size: 4.5vw;
		line-height: 4.5vw;

	}
}


.repositories .top{
	margin-top: 60px;
	margin-bottom: 20px;
	height: 100%;
	width: calc(45% + 60px);
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;

	align-items:center;
	align-items: flex-start;
	justify-content:left;

	

}
  
.repositories .back-button{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	min-width: 120px;
	min-height: 40px;
	background-color: #3191ff;
	border-radius: 10px;
	box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.2);
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	user-select: none;
}
.repositories .back-button img{
	width: 15px;
	height: 15px;
}
