.setup-contest {
	display: flex;
	justify-content: center;
}

.setup-contest .wrapper {
  width: 60%;
	min-width: 400px;
	max-width: 60%;
	margin-bottom: 150px;
}

.setup-contest .block {

	background-color: #fff;
	border-radius: 10px;
	margin-top: 30px;
	padding: 30px;
}

.setup-contest .header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.setup-contest .data{
  display: flex;
  align-items: center;
  gap: 20px;
}

.setup-contest .edit{
  background-color: #3191ff;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  border: none;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.20);
}

.setup-contest .green{
  color: #07be25;
}

.setup-contest .logo{
  width: 100px;
  height: 100px;
  background-color: #dfdfdf;
  border-radius: 10px;
}

.setup-contest .block-title {
	margin-bottom: 5px;
}
.setup-contest .block-description {
	margin-bottom: 10px;

}

.setup-contest .conteiner {
  padding: 20px;
	background-color: #dfdfdf;
	border-radius: 10px;
  white-space: pre-line;
}

.setup-contest .pull-header{
  display: flex;
  justify-content: space-between;
}

.setup-contest .buttons{
  display: flex;
  gap: 10px;
}

.setup-contest .import{
  background-color: #3191ff;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  font-weight: 700;
  color: #fff;
  border: none;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.20);
}
.setup-contest .save{
  background-color: #2ECE6E;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-weight: 700;
  color: #fff;
  border: none;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.20);
}

.setup-contest .divider{
  background-color: #e4e4e4;
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.setup-contest .pr-line{
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: top;
  margin-bottom: 10px;

}
.setup-contest .pr{
  width: 100%;

}

.setup-contest .pr-header{
  display: flex;
  background-color: #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  gap:10px;
  cursor: pointer;
  white-space: nowrap;
  
}

.setup-contest .pr-title{
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.setup-contest .pr-content {
  margin-top: 5px;
  
}

.setup-contest .hidden{
  display: none;
  overflow: hidden;
}

.setup-contest .pr-body{
  background-color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

.setup-contest .pr-checkbox{
  min-height: 15px;
  margin-top: 15px;
  min-width: 15px;
}

.setup-contest .checkbox-controller{
  display: flex;
  text-align: center;
  line-height: 45px;
  gap: 10px;
  
}

.setup-contest .block-input {
  width: 70%;
  height: 30px;
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}

.setup-contest .block-area-input{
  width: 90%;
  height: 300px;
  resize: vertical;
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  padding: 15px;
  outline: none;
}